@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body {
    background-color: rgb(192, 151, 180);
    color: rgb(43, 122, 190);
    /* background: url('./images/flower.jpg'); */
    font-family: 'Lora', serif;
}

.logo-img {
    height: 70px;
    width: 80px;
    background: transparent;
    border-radius: 20%;
}

#lg {
    margin-top: 10%;
    font-size: 1.5rem;
    color: white;
    padding: 2%;
    text-align: center;
}

article {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
}

.container,
.page-header {
    margin-top: 4rem;
}

.card-header {
    color: forestgreen;
}

.container-fluid {
    margin-top: 8%!important;
}

.lmc {
    margin-left: 33%;
}

article div div p::first-letter {
    font-size: 200%;
    color: #c8ff00;
}

.pb-cmnt-container {
    font-family: Lato;
    margin-top: 2rem;
}

.pb-cmnt-textarea {
    padding: 2rem;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}

#cmt {
    visibility: hidden;
}

.footer {
    max-height: 20rem;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #c8ff00;
    min-width: 90%;
    padding: 2rem;
}

a:hover,
.btn:hover {
    color: rgb(216, 52, 52);
    background-color: rgb(119, 119, 119);
    opacity: 1;
    border-radius: 5rem;
    font-size: 1.5vw;
}